@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;400;700&display=swap");
@import "colors";
@import "social-font";
@import "font-style";
@import "button";
@import "choose-us";
@import "comment";
@import "footer";
@import "header";
@import "icons";
@import "info";
@import "main";
@import "navigation";
@import "quote";
@import "search";
@import "socials";
@import "tourist-say";
@import "treavel";
@import "we-do";
@import "navigation-open";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}
